@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.videosContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: turquoise;
}
.videoEmitter{
  height:380px;
  width: 48%;
}
.videoReceiver{
  height:380px;
  width: 48%;
}
.videoActions{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color:white;
}
.modal-content{
  background-color: transparent;
  margin-top: 10px;
  height:auto;
  width:auto;
  display: flex;
  position: flex;
}